<h3>関連項目</h3>
<div class="form-box">
<%= form_with model: Category.new do |f| %>
    <label>ジャンル</label><br>
    <%= f.text_field :name, :style => "width:67%;", class: "form-control pull-left",id:"category-form", placeholder: "ジャンルを追加" %>
    <%= f.submit "更新", :style => "width:33%;", class: "btn btn-default" %>
<% end %>
</div>
<div class="form-box">
<%= form_with url: {:controller=>'categories',:action=>'destroy'},method: :delete, local: true do |f| %>
      <%= f.collection_select :id, Category.all.order('name'), :id, :name, {}, {class: "form-control pull-left category",:style => "width:67%;"} %>
      <%= f.submit "削除", :style => "width:33%;", class: "btn btn-danger",data: { confirm: "選択されたジャンルを削除します。\n（商品に設定されている状態では削除できません。）",:disable_with=>"削除"} %>
<% end %>
</div>
    
<div class="form-box">
<%= form_with model: Label.new do |f| %>
    <label>レーベル</label><br>
    <%= f.text_field :name, :style => "width:67%;", class: "form-control pull-left",id:"label-form", placeholder: "レーベルを追加" %>
    <%= f.submit "更新", :style => "width:33%;", class: "btn btn-default" %>
<% end %>
</div>

<div class="form-box">
<%= form_with url: {:controller=>'labels',:action=>'destroy'},method: :delete, local: true do |f| %>
      <%= f.collection_select :id, Label.all.order('name'), :id, :name, {}, {class: "form-control pull-left labels",:style => "width:67%;"} %>
      <%= f.submit "削除", :style => "width:33%;", class: "btn btn-danger",data: { confirm: "選択されたレーベルを削除します。\n（商品に設定されている状態では削除できません。）",:disable_with=>"削除"} %>
<% end %>
</div>

<div class="form-box">
<%= form_with model: Artist.new do |f| %>
    <label>アーティスト</label><br>
    <%= f.text_field :name, :style => "width:67%;", class: "form-control pull-left",id:"artist-form", placeholder: "アーティストを追加" %>
    <%= f.submit "更新", :style => "width:33%;", class: "btn btn-default" %>
<% end %>
</div>

<div class="form-box">
<%= form_with url: {:controller=>'artists',:action=>'destroy'},method: :delete, local: true do |f| %>
      <%= f.collection_select :id, Artist.all.order('name'), :id, :name, {}, {class: "form-control pull-left artist",:style => "width:67%;"} %>
      <%= f.submit "削除", :style => "width:33%;", class: "btn btn-danger",data: { confirm: "選択されたアーティストを削除します。\n（商品に設定されている状態では削除できません。）",:disable_with=>"削除"} %>
<% end %>
</div>