<div class="container">
  <div class="row">
<!-- sidebar  ここから -->
    <div class="col-sm-3">
    <%= render partial: "layouts/adminsidebar" %>
      <div class="side-box">
    <%= render partial: "manage_items/side" %>
      </div>
    </div>
<!-- sidebar  ここまで -->
    <div class="col-sm-9">
      <h2>商品登録</h2>
      <div class="sidebar">
        <%= form_for(@item, url: {controller: 'manage_items', action: 'create'}) do |item| %>
        <%# 商品名 %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>商品名</label></div>
            <div class="col-sm-9">
              <%= item.text_field :album %>
            </div>
          </div>
        <%# ジャケット画像 %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>ジャケット画像</label></div>
            <div class="col-sm-9">
              <%= item.attachment_field :image %>
            </div>
          </div>
        <%# 価格 %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>価格</label></div>
            <div class="col-sm-9">
              <%= item.text_field :price %>
            </div>
          </div>
        <%# 収録内容 %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
            <label>収録内容</label></div>
            <div class="col-sm-9">
        <%# ディスク１ %>
              <div class="disc-box" id="1">
          <%= item.fields_for :discs, Disc.new do |disc| %>
              <table>
                <tbody>
                <p>ディスク1</p>
                <th>順</th>
                <th>曲名</th>
                <th>アーティスト</th>
                <th></th>
          <%= disc.nested_fields_for :songs, Song.new, wrapper_tag: :tr do |song| %>
                <td><%= song.text_field :song_order, :style=>"width:30px;" %></td>
                <td><%= song.text_field :name, :style=>"width:110px;" %></td>
                <td><%= song.collection_select(:artist_id, @artists, :id, :name) %></td>
                <td><%= song.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
          <% end %>
              </tbody>
            </table>               
            <%= disc.add_nested_fields_link :songs, '曲を追加', class: "btn btn-primary", role: 'button' %>
          <% end %>
        <%# ディスク2 %>
              <div class="disc-box" id="1">
          <%= item.fields_for :discs, Disc.new do |disc| %>
              <table>
                <tbody>
                <p>ディスク2</p>
                <th>順</th>
                <th>曲名</th>
                <th>アーティスト</th>
                <th></th>
          <%= disc.nested_fields_for :songs, Song.new, wrapper_tag: :tr do |song| %>
                <td><%= song.text_field :song_order, :style=>"width:30px;" %></td>
                <td><%= song.text_field :name, :style=>"width:110px;" %></td>
                <td><%= song.collection_select(:artist_id, @artists, :id, :name) %></td>
                <td><%= song.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
          <% end %>
              </tbody>
            </table>               
            <%= disc.add_nested_fields_link :songs, '曲を追加', class: "btn btn-primary", role: 'button' %>
          <% end %>
        <%# ディスク2 %>
              <div class="disc-box" id="1">
          <%= item.fields_for :discs, Disc.new do |disc| %>
              <table>
                <tbody>
                <p>ディスク3</p>
                <th>順</th>
                <th>曲名</th>
                <th>アーティスト</th>
                <th></th>
          <%= disc.nested_fields_for :songs, Song.new, wrapper_tag: :tr do |song| %>
                <td><%= song.text_field :song_order, :style=>"width:30px;" %></td>
                <td><%= song.text_field :name, :style=>"width:110px;" %></td>
                <td><%= song.collection_select(:artist_id, @artists, :id, :name) %></td>
                <td><%= song.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
          <% end %>
              </tbody>
            </table>               
            <%= disc.add_nested_fields_link :songs, '曲を追加', class: "btn btn-primary", role: 'button' %>
          <% end %>
          </div><!-- tab-box -->
            </div><!-- col-sm-8 -->
          </div><!-- row -->
        <%# 在庫数 %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>在庫数</label></div>
            <div class="col-sm-9">
              <%= item.text_field :stock %>
            </div>
          </div>
        <%# 販売ステータス %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>販売ステータス</label></div>
            <div class="col-sm-9">
              <%= item.select :sales_status, [["販売中",1], ["販売停止中",2]], :prompt => "選択してください" %>
            </div>
          </div>
        <%# ジャンル %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>ジャンル</label></div>
            <div class="col-sm-9">
              <%= item.collection_select(:category_id, @categories, :id, :name) %>
            </div>
          </div>
        <%# レーベル %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label>レーベル</label></div>
            <div class="col-sm-9">
              <%= item.collection_select(:label_id, @labels, :id, :name) %>
            </div>
          </div>
        <%# 登録ボタン %>
          <div class="row">
            <div class="col-sm-12" style="text-align:center;">
              <%= item.submit "登録"%>
            </div>
          </div>
        <% end %>
        
      <div>
    </div><!-- col-sm-9 -->
  </div><!-- row -->
</div><!-- container -->