<div class="container">
  <div class="row">
<!-- sidebar  ここから -->
    <div class="col-sm-3">
    <%= render partial: "layouts/adminsidebar" %>
      <div class="side-box">
        <%= render "search" %>
      </div>
    </div>
<!-- sidebar  ここまで -->
<% if @item.sales_status == 'deleted' %>
<%# ステータスがdeletedなら異なるビューを表示 %>
  <%= render 'deleted' %>
  <% else %>
    <div class="col-sm-9">
      <h2>商品詳細</h2>
      <div class="box">
        <div class="row">
            <div class="col-sm-12">
                <table style="width:100%">
                    <tbody>
                        <tr><th class="col-sm-4">商品名</th>
                        <td class="col-sm-8"><%= @item.album %><%= link_to "[ 商品削除 ]", manage_item_path, method: :delete, class:"pull-right", data: { confirm: "削除してもよろしいですか？\n※削除後は削除済み一覧から復元が可能です。" } %><%= link_to "[ 編集 ]", edit_manage_item_path, class: "pull-right" %></td></tr>

                        <tr><th class="col-sm-4">ジャケット画像</th>
                        <td class="col-sm-8"><%= attachment_image_tag @item, :image, :fill, 100, 100, fallback: "no_image.jpg" %></td></tr>

                        <tr><th class="col-sm-4">ジャンル</th>
                        <td class="col-sm-8"><%= check_null(@item.category.name) %></td></tr>

                        <tr><th class="col-sm-4">レーベル</th>
                        <td class="col-sm-8"><%= check_null(@item.label.name) %></td></tr>

                        <tr><th class="col-sm-4">アーティスト</th>
                        <td class="col-sm-8"><%= check_null(@item.artist.name) %></td></tr>

                        <tr><th class="col-sm-4">在庫数</th>
                        <td class="col-sm-8"><%= @item.stock %></td></tr>

                        <tr><th class="col-sm-4">ステータス</th>
                        <td class="col-sm-8"><%= sales_status(@item) %></td></tr>

                        <tr><th class="col-sm-4">発売日</th>
                        <td class="col-sm-8"><%= simple_date(@item.release_date) %></td></tr>

                        <tr><th class="col-sm-4">登録日</th>
                        <td class="col-sm-8"><%= simple_date(@item.created_at) %></td></tr>

                        <tr><th class="col-sm-4">収録内容</th>
                        <td class="col-sm-8">
                <% @item.discs.each do |disc| %>
                <table style="width:100%;">
                    <tbody>
                        <tr style="background-color:rgba(0,0,0,.1);">
                        <th colspan="4">ディスク</th></tr>
                        <tr><td class="col-sm-2">No.</td>
                        <td class="col-sm-4">曲名</td>
                        <td class="col-sm-4">アーティスト</td>
                        <td class="col-sm-2"></td></tr>
                <% disc.songs.each do |song| %>
                        <tr class="touch"><td class="col-sm-2"><%= song.position %></td>
                        <td class="col-sm-4"><%=  song.name %></td>
                        <td class="col-sm-4"><%= song.artist.name %></td>
                        <td class="col-sm-1 sort-btns">
                        <%= song.first? ? ' '.html_safe : link_to('▲', :action => 'move_higher', :id => song) %>
                        <%= song.last? ? ' '.html_safe : link_to('▼', :action => 'move_lower', :id => song) %>
                        </td></tr>
                <% end %>
                   </tbody>
                </table>
                <% end %>
                </td>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div><!-- col-sm-9 -->
    <% end %>
  </div><!-- row -->
</div><!-- container -->
