<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h2 class="text-center">
        <p>本当に忘れちゃったの(笑)?</p>
        <p>パスワード再設定する？</p>
      </h2>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<p></p>

  <div class="actions text-center">
    <%= f.submit "パスワードリセット", class: "btn btn-default" %>
  </div>
<% end %>

<div class="link text-center">
  <%= render "end_users/shared/links" %>
</div>

    </div>
  </div>
</div>
