<body class="sign-up-body">
  <div class="container-sign-up center-block">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <section>
            <h2 class="form-headter-title">ユーザーアカウント登録</h2>

              <div class="form-body">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">LastName</label>
                  <%= f.label :氏名 %>
                  <em>※必須項目</em><br>
                  <%= f.text_field :last_name, autofocus: true, class:"form-inline", id:"inputName",placeholder:"姓" %>

                  <label class="control-lebel sr-only" for = "inputName">FirstName</label>
                  <%= f.text_field :first_name, autofocus: true, class:"form-inline", id:"inputName",placeholder:"名"%>
                </div>

                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">LastKana</label>
                  <%= f.label :氏名%><em>(カナ)</em>
                  <em>※必須項目</em><br>
                  <%= f.text_field :last_kana, autofocus: true, class:"form-inline", id:"inputName",placeholder:"セイ" %>

                  <label class="control-lebel sr-only" for = "inputName">FirstKana</label>
                  <%= f.text_field :first_kana, autofocus: true, class:"form-inline", id:"inputName",placeholder:"メイ"%>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :郵便番号 %>
                  <em>※必須項目</em>
                  <%= f.text_field :postal_code, autofocus: true, class:"form-control", id:"inputPostalCode", placeholder:"ハイフンなし" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :住所 %>
                  <em>※必須項目</em>
                  <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputAddress" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :電話番号 %>
                  <em>※必須項目</em>
                  <%= f.text_field :phone_number, autofocus: true, class:"form-control", id:"inputPhoneNumber", placeholder:"ハイフンなし" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :メールアドレス %>
                  <em>※必須項目</em>
                  <%= f.email_field :email, class:"form-control", id:"inputEmail" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :パスワード %>
                  <em>※必須項目</em>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class:"form-control", id:"inputNewPassword", placeholder:"英数字6文字以上" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :確認用パスワード %>
                  <em>※必須項目</em>
                  <%= f.password_field :password_confirmation, class:"form-control", id:"inputNewPassword", placeholder:"英数字6文字以上" %>
                </div>

                <div class="actions">
                  <%= f.submit "ユーザーを登録する", class:"btn btn-lg btn-primary btn-block btn-base-1 mt-20" %>
                </div>
               <% end %>

    <%= render "admins/shared/links" %>


            </div>
        </section>
      </div>
    </div>

  </div>
</body>