<%# いいね機能 %>
<span id="like-link-<%= item.id %>">
<% if end_user_signed_in? %>
    <% if item.favorited_by?(current_end_user) %>
        <%= form_with model: Like.new, url: item_likes_path(item.id), method: :delete do |f| %>
        <%= f.submit "★　#{item.likes.count.to_s}",class:"btn btn-default",data:{disable_with: "★　#{item.likes.count.to_s}"} %>
        <%end%>
    <% else %>
        <%= form_with model: Like.new, url: item_likes_path(item.id), method: :post do |f| %>
        <%= f.submit "☆　#{item.likes.count.to_s}",class:"btn btn-default",data:{disable_with: "☆　#{item.likes.count.to_s}"} %>
        <%end%>
    <% end %>
<%else%>
        <span class="btn glyphicon glyphicon-heart" style="color: red;"></span><%= item.likes.count.to_s %>
<%end%>
</span>
