<div class = "container">
  <div class = "row">
    <%# ここからサイドバー %>
    <div class = "col-sm-2">
      <div class = "sidebar">
        <ul>
          <li><%= link_to "カート情報", cart_items_path %></li>
          <li></li>
          <li><%= link_to "Myいいね", likes_path %></li>
          <li></li>
          <li><%= link_to "登録情報編集", cart_items_path %></li>
        </ul>
      </div>
    </div>
    <%# サイドバーここまで %>
    <div class = "col-sm-9">
      <h2><%= current_end_user.last_name %> <%= current_end_user.first_name %> さんがいいねをした商品</h2>
      <%# いいねをした商品を表示する %>
        <% @likes.each do |like| %>
        <div class="box-radius"  id="like-<%= like.item.id %>" >
          <table class = "table" style="margin:-10px;">
            <tbody>
                <%# ジャケ写 %>
              <td class="col-xs-3" style="border-top-style:none;">
                <%= attachment_image_tag like.item, :image, :fill, 100, 100, fallback: "no_image.jpg", :size=>"100x100",class:"images" %>
              </td>
              <td class="col-xs-3" style="vertical-align:middle; border-top-style:none;">
                <%# 商品名 リンク付き %>
                <span><%= link_to like.item.album, item_path(like.item.id) %></span><br>
                <%# アーティスト名 %>
                <span><%= like.item.artist.name %></span><br>
                <%# ジャンル %>
                <span><%= like.item.category.name %></span><br>
                <%# シングル/アルバム名 %>
                <span><%= like.item.album %></span><br>
                <%# ストック %>
                <span><%= stock_check(like.item) %>
                <%# 購入数 %>
              </td>
              <td class="col-xs-3" style="vertical-align:middle; border-top-style:none;">
                <%# 価格 %>
                <span>価格　¥<%= like.item.price %></span>
              </td>
              <td class="col-xs-3 text-right" style="vertical-align:middle; border-top-style:none;">


                <%# likeボタン %>
                <p><%= render 'likes/like_links', item: like.item %></p>

                
                <%# カートに入れる %>
                <span>
                  <% if end_user_signed_in? %>
                      <%= form_with model: @cart_item do |f| %>
                      <%= f.select :count, options_for_select((1..20).to_a), {}, class: "form-control pull-left", :style=>"width:50px;" %>
                      <%= f.hidden_field :item_id, :value => like.item.id %>
                      <%= f.submit "カートに追加", class: "btn btn-default" %>
                      <% end %>
                  <% end%>
                </span>

              </td>
              
            </tbody>
          </table>
        </div>
        <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%# KAMINARI実装 %>
      <%= paginate @likes %>
    </div>
  </div>
</div>