<div class = "container">
  <div class = "row">
    <%# ここからサイドバー %>
    <div class = "col-sm-2">
      <div class = "sidebar">
        <ul>
          <li><%= link_to "カート情報", cart_items_path %></li>
          <li></li>
          <li><%= link_to "Myいいね", likes_path %></li>
          <li></li>
          <li><%= link_to "登録情報編集", cart_items_path %></li>
        </ul>
      </div>
    </div>
    <%# サイドバーここまで %>
    <div class = "col-sm-9">
      <h2><%= current_end_user.last_name %> <%= current_end_user.first_name %> さんが購入した商品</h2>
      <%# 購入情報を購入した回数分表示する %>
        <% @orders.each do |order| %>
        <%# time.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") strftimeメソッドを使って日時を扱う %>
        <div class="box-radius">
        <h4>購入日：<%= order.purchased_at.strftime("%Y年%-m月%-d日") %></h4>
          <table class = "table" style="margin:-10px;">
            <tbody>
            <%# order_itemをoと表す %>
            <% order.order_items.each do |o| %>
              <tr>
                <%# ジャケ写 %>
                <td class="col-xs-4">
                  <%= attachment_image_tag o.item, :image, :fill, 100, 100, fallback: "no_image.jpg", :size=>"100x100",class:"images" %>
                </td>
                <td class="col-xs-4" style="vertical-align:middle;">
                  <%# アルバム名 リンク付き %>
                  <span><%= link_to o.item.album, item_path(o.item.id) %></span><br>
                  <%# アーティスト名 %>
                  <%# itemの後のdiscsとsongsがhas_manyで複数あるため１番最初のものを持ってくるように.firstをつける %>
                  <span><%= o.item.discs.first.songs.first.artist.name %></span><br>
                  <%# 購入数 %>
                  <span>購入数：<%= o.count %></span><br>
                  <span>¥<%= o.price %></span>
                </td>
                <td class="col-xs-2 text-right" style="vertical-align:middle;">
                  <%# 税抜価格 %>
                  <span>¥<%= o.count * o.price %></span>
                </td>
              </tr>
            <% end %>
              <tr>
                <td colspan="3" class="text-right">
                  小計　¥<%= order.subtotal %>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="text-right">
                  消費税　¥<%= order.total_price - order.subtotal - 500 %><br>
                  送料　¥500<br>
                </td>
              </tr>
              <tr>
                <td>
                  <%# 発送先 %>
                  <span>発送先：<%= order.shipping_address %></span>
                </td>
                <td>
                  <span>ステータス：<%= order.shipping_status %></span>
                </td>
                <td class="text-right">
                  <span>合計 ¥<%= order.total_price %></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12">
      <%# KAMINARI実装 %>
      <%= paginate @orders %>
    </div>
  </div>
</div>