<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 col-sm-offset-2">
      <h2>お届け先・お支払方法選択</h2>
      <h3>1.お届け先</h3>
      <p>以下から選択してください。</p>
      <div class="box-radius" style="overflow:auto; height:250px;">
      <h4>お客様の住所</h4>
        <%= form_with url: confirm_end_user_order_path, method: :get, local: true do |f| %>
       
          <label style="display:block;" class="touch">
            <table class="table table-responsive table-bordered table-condensed">
              <tbody>
                <tr><td rowspan="3" class="col-xs-1" style="vertical-align:middle;"><%= radio_button_tag :use_address, 'mine', true %></td>
                <th class="col-xs-4">配送先氏名</th><td class="col-xs-7" style="font-weight: normal;"><%= current_end_user.last_name %>　<%= current_end_user.first_name %></td></tr>
                <tr><th>電話番号</th><td style="font-weight: normal;"><%= current_end_user.phone_number %></td></tr>
                <tr><th>住所</th><td style="font-weight: normal;">〒<%= postal_code(current_end_user.postal_code) %><br>
                <%= current_end_user.address %></td></tr>
              </tbody>
            </table>
          </label>
        

          <% if @addresses.any? %>
          <h4>登録済みの配送先</h4>
          <% @addresses.each do |address| %>
        
          <label style="display:block;" class="touch">
            <table class="table table-responsive table-bordered table-condensed">
              <tbody>
                <tr><td rowspan="3" class="col-xs-1" style="vertical-align:middle;"><%= radio_button_tag :use_address, address.id %></td>
                <th class="col-xs-4">配送先氏名</th><td class="col-xs-7" style="font-weight: normal;"><%= address.name %></td></tr>
                <tr><th>電話番号</th><td style="font-weight: normal;"><%= address.phone_number %></td></tr>
                <tr><th>住所</th><td style="font-weight: normal;">〒<%= postal_code(address.postal_code) %><br>
                <%= address.address %></td></tr>
                <tr><td colspan="3" class="text-center" style="font-weight:normal;"><%= link_to " 編集", edit_end_user_address_path(current_end_user,address), class:"glyphicon glyphicon-edit btn btn-default" %> <%= link_to " 削除", end_user_address_path(current_end_user,address),method: :delete,class:"glyphicon glyphicon-trash btn btn-default",data:{confirm:"削除してもよろしいですか？",:disable_with => "　削除"} %></td></tr>
              </tbody>
            </table>
          </label>
      
        
        <% end %>
          <% end %>

        </div>
        
          <p class="text-center" style="margin-top:-10px;"><%= link_to "配送先を追加する", new_end_user_address_path %></p>

        <h3>2.お支払方法</h3>
        <p>銀行振込・代引きを選択できます。</p>
        <div class="box-radius">
         <label style="margin-right:70px;"><%= f.radio_button :payment, '代金引換',:checked=>"checked" %>代金引換</label>
         <label><%= f.radio_button :payment, '銀行振込' %>銀行振込</label>
         
        </div>

        <div class="text-center">
        <%= link_to "カートへ戻る", cart_items_path, class:"btn btn-default" %>　
        <%= f.submit "注文確認へ進む", class:"btn btn-default", :data => {:disable_with => "注文確認へ進む"}%>
        </div>
        <% end %>
    </div>
  </div>
</div>