
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>注文編集</h2>
            <div class="box">
            <%= form_for(@order,url: manage_order_path) do |o| %>
            <div class="field">
                <label for="shipping_address">発送先</label>
                <p>氏名</p>
                <%= o.text_field :shipping_name, class: "form-control" %>
                <p>電話番号</p>
                <%= o.text_field :shipping_phone_number,class: "form-control" %>
                <p>郵便番号</p>
                <%= o.text_field :shipping_postal_code,class: "form-control" %>
                <p>住所</p>
                <%= o.text_area :shipping_address,class: "form-control" %>
            </div>
            <div class="field">
                <label for="order_description">ステータス</label>
                <%= o.select :shipping_status, Order.shipping_statuses.keys, {:prompt => "選択してください"}, {class: "form-control"} %>
            </div>
            <div class="action" style="padding:20px;">
                <div class="center-block btns"><%= o.submit "Update Order",class:"btn btn-default pull-left" %><%= link_to "注文を削除",manage_order_path(@order),method: :delete,class:"btn btn-danger" %></div>
            </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
