<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <h2>配送先編集</h2>
            <div class="box-radius">
    <%= form_with model: @address,url: end_user_address_path, local: true do |f| %>
    <div class="form-box">
        <label>氏名</label>
        <%= f.text_field :name, class:"form-control", placeholder: "全角2〜20文字"%>
    </div>
    <div class="form-box">
        <label>電話番号</label>
        <%= f.text_field :phone_number, class:"form-control",placeholder: "半角数字7桁（ハイフンは不要です）" %>
    </div>
    <div class="form-box">
        <label>郵便番号</label>
        <%= f.text_field :postal_code, class:"form-control", placeholder: "ハイフンは不要です" %>
    </div>
    <div class="form-box">
        <label>住所</label>
        <%= f.text_area :address, class:"form-control", placeholder: "全角80文字以内" %>
    </div>
    <div class="form-box">
        <%= f.submit "登録", class:"btn btn-default center-block", :data => {:disable_with => "登録"}%>
    </div>
    <% end %>
</div>
        </div>
    </div>
</div>