    <div class="container">
<%# 商品詳細ページ遷移リンク %>

        <div class="row">
        
        <%# 検索ワードが空欄以外の時に表示 %>
        <% if params[:q].present? && params[:q][:album_or_artist_name_or_label_name_or_discs_songs_name_cont_any].present? %>
            <p>キーワード：<%= params[:q][:album_or_artist_name_or_label_name_or_discs_songs_name_cont_any] %>での検索結果 <%= @results.total_count %>件</p>
        <% else %>
            <h2 style="margin-left:50px;">新着商品</h2>
        <% end %>

        <% if @results.any? %>

        <%# 検索対象一覧 %>
            <% @results.each do |results| %>
            <%= link_to (item_path(results)) do %>
            <!-- ジャケット写真 -->
            <div class="col-xs-12 col-sm-4">
                <div class="item-box">
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <div class="image-box">
                                <%= attachment_image_tag results, :image, :fill, 200, 200, fallback: "no_image.jpg", :size=>"200x200" %>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-12">
                                <%# 商品名 %>
                                <p style="font-weight:bold;"><%= results.album %></p>
                                <%# アーティスト名 %>
                                <p><%= results.artist.name %></p>
                                <%# 価格 %>
                                <p><span style="color:red;">¥<%= tax_calc(results.price) %></span>(税込)</p>
                                <%# 販売ステータス %>
                                <p><%= stock_check(results) %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% end %><%# リンク %>
            <% end %><%# resultsのEND %>
                <div class="col-xs-12 col-sm-12 text-center"><%= paginate @results %></div>
            <% else %><%# result.any? ヒットしなかった時 %>
            <p>該当する商品は見つかりませんでした。</p>
            <p class="text-center"><%= link_to "トップページ",items_path %></p>
            <% end %><%# results.any? %>
        </div>

    </div>




<!-- ページャー -->
