<div class="container">
    <div class="row">

        <%# ジャケ写 %>
        <div class="col-xs-6">
            <div class="image-box">
                <%= attachment_image_tag @item, :image, :fill, 200, 200, fallback: "no_image.jpg", :size=>"200x200", class: "images" %>
            </div>
        </div>

        <%# 商品詳細情報 %>
        <div class="col-xs-6">
            <div class="item-info">
                <div class="title">
                    <%# 商品名 %>
                    <h3><strong><%= @item.album %></strong></h3>
                    <%# アーティスト名 %>
                    <p><%= @item.artist.name %></p>
                    <%# 在庫ステータス %>
                    <p><%= stock_check(@item) %></p>
                    <%# いいねカウント %>
                    <%# @itemsをrenderのcollectionでそれぞれを取り出してitemとして渡す %>
                    <p><%= render 'likes/like_links', item: @item %></p>
                    <%# 価格 %>
                    <p>¥<%= @item.price %>(税込)</p>
                    <%# カートに入れる %>
                    <div>
                        <%= form_with model: @cart_item do |f| %>
                        <%= f.select :count, options_for_select((1..20).to_a), {}, class: "form-control pull-left", :style=>"width:50px;" %>
                        <%= f.hidden_field :item_id, :value => @item.id %>
                        <%= f.submit "カートに追加", class: "btn btn-default" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

    </div><%# rowクラス閉じタグ %>



    <div class="row">

        <%# 収録曲 %>
        <div class="col-xs-6">
            <div class="item-song">
            <h4><strong>収録曲</strong></h4>
                <table class="table table-striped table-responsive">
                <% @discs.each do |disc| %>
                    <% disc.songs.each do |song|%>
                    <thead>
                        <tr>
                            <th>曲順</th>
                            <th>曲名</th>
                            <th>アーティスト名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= song.position %>
                            </td>
                            <td>
                                <%= song.name %>
                            </td>
                            <td>
                                <%= song.artist.name %>
                            </td>
                        </tr>
                    </tbody>
                    <% end %>
                <% end %>
                </table>
            </div>
        </div>

        <%# レビュー %>
        <div class="col-xs-6">
            <%# レビュー内容表示 %>
            <div class="item-rev">
            <h4><strong>レビュー</strong></h4>
                <table class="table table-striped table-responsive">
                    <% @reviews.each do |reviews| %>
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p>投稿者：
                                <%= reviews.name %>
                            </p>
                            <p>投稿日時：
                                <%# ヘルパーメソッド使用 %>
                                <%= simple_date(reviews.created_at) %>
                            </p>
                            <%# 投稿コメント %>
                            <p>
                                <%= reviews.comment %>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                    <% end %>
                </table>
            </div>

            <%# レビュー投稿 %>
            <div class="item-rev-edit">
                <h4><strong>レビューする</strong></h4>
                <%= form_for(@review) do |review| %>
                    <p>名前</p>
                    <%= review.text_field :name %>
                    <p>レビュー</p>
                    <%= review.text_area :comment %>
                    <p></p>
                    <%# hidden_fieldで情報を渡す %>
                    <%= review.hidden_field :item_id, :value => @item.id %>
                    <%= review.submit("レビューを投稿する",class: 'btn btn-primary') %>
                <% end %>
            </div>


        </div>






    </div><%# rowクラス閉じタグ %>







</div><%# containerクラス閉じタグ %>








</div>
