<body class="profile-body">
  <div class="container-sign-up center-block">
    <div class="row">
      <div class="col-xs-3 col-md-offset-4">
        <div class="">
          <h2>編集ページ</h2>
            <%= form_for @end_user do |f| %>
              <div class="form-body">
                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">LastName</label>
                  <%= f.label :氏名 %><br>
                  <%= f.text_field :last_name, autofocus: true, class:"form-inline", id:"inputName",placeholder:"姓" %>
                </div>

                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">FirstName</label>
                  <%= f.text_field :first_name, autofocus: true, class:"form-inline", id:"inputName",placeholder:"名"%>
                </div>

                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">LastKana</label>
                  <%= f.label :氏名%><em>(カナ)</em><br>
                  <%= f.text_field :last_kana, autofocus: true, class:"form-inline", id:"inputName",placeholder:"セイ" %>
                </div>

                <div class="form-group has-icon">
                  <label class="control-lebel sr-only" for = "inputName">FirstKana</label>
                  <%= f.text_field :first_kana, autofocus: true, class:"form-inline", id:"inputName",placeholder:"メイ"%>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :郵便番号 %>
                  <%= f.text_field :postal_code, autofocus: true, class:"form-control", id:"inputPostalCode", placeholder:"ハイフンなし" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :住所 %>
                  <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputAddress" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :電話番号 %>
                  <%= f.text_field :phone_number, autofocus: true, class:"form-control", id:"inputPhoneNumber", placeholder:"ハイフンなし" %>
                </div>

                <div class="form-group has-icon">
                  <%= f.label :メールアドレス %>
                  <%= f.email_field :email, class:"form-control", id:"inputEmail" %>
                </div>



                <div class="actions">
                  <%= f.submit "更新する", class:"btn btn-lg btn-primary btn-block btn-base-1 mt-20" %>
                </div>
              <% end %>

              <%= link_to "パスワード変更はこちら", change_password_end_users_path %>

              <%= link_to "戻る", :back %>

            </div>
        </div>
      </div>
    </div>

  </div>
</body>