<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <h2>ユーザー一覧</h2>

<h3>ユーザー検索</h3>

      <table class="table table-hover table-inverse">
        <thead>
      <% @end_user.each do |f| %>
        <div class="row">
          <p>ユーザー名：</p> <%= f.last_name %> <%= f.first_name %>
          <p>電話番号：</p> <%= f.phone_number %>
          <p>住所：</p> <%= f.address %>
          <%= link_to "詳細", user_path(user.id)%>
        </div>
      <% end %>
    </tbody>
  </table>

    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
    </div>
  </div>


  </div>
</div>