<div class="container">
  <div class="row">

<!-- sidebar  ここから -->
    <div class="col-sm-2">
        <%= render "end_users/sidebar" %>
    </div>
<!-- sidebar  ここまで -->


    <div class="col-sm-9">
    <h2>マイページ</h2>
      <h3><%= @end_user.last_name %> <%= @end_user.first_name %> さんの登録情報</h3>

      <div class="box">
        <div class="row form-box">
            <div class="col-xs-2"><label>氏名</label></div>
            <div class="col-xs-10"><%= @end_user.last_name %> <%= @end_user.first_name %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>カナ</label></div>
            <div class="col-xs-10"><%= @end_user.last_kana %> <%= @end_user.first_kana %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>郵便番号</label></div>
            <div class="col-xs-10"><%= @end_user.postal_code %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>住所</label></div>
            <div class="col-xs-10"><%= @end_user.address %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>電話番号</label></div>
            <div class="col-xs-10"><%= @end_user.phone_number %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>メールアドレス</label></div>
            <div class="col-xs-10"><%= @end_user.email %></div>
        </div>
        <div class="row form-box">
            <div class="col-xs-2"><label>パスワード</label></div>
            <div class="col-xs-10"><%= @end_user.encrypted_password = "●●●●" %></div>
        </div>

        <div class="btn" ><%= link_to "編集", edit_end_user_path(@end_user.id), class: "btn btn-primary" %></div>

        <div class="btn" ><%= link_to "退会", end_user_registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete, class:"btn btn-danger" %></div>


      </div>
    </div>
  </div>
</div>




