  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
            <h2>新規登録</h2>
              <div class="form-body-end-user">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="row form-group name-form">
                  <div class="col-md-10 form name-form"><%= f.text_field :last_name, :size=>"25", autofocus: true, class:"form-inline", placeholder:"姓" %>
                  <%= f.text_field :first_name, :size=>"25", autofocus: true, class:"form-inline login", placeholder:"名"%></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.text_field :last_kana, :size=>"25", autofocus: true, class:"form-inline", placeholder:"セイ" %>
                  <%= f.text_field :first_kana, :size=>"25", autofocus: true, class:"form-inline login", placeholder:"メイ"%></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.text_field :postal_code, autofocus: true, class:"form-control login", placeholder:"ハイフンなし" %></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.text_field :address, autofocus: true, class:"form-control login" %></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.text_field :phone_number, autofocus: true, class:"form-control login", placeholder:"ハイフンなし" %></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.email_field :email, class:"form-control login" %></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.password_field :password, class:"form-control login", placeholder:"英数字6文字以上" %></div>
                </div>

                <div class="row form-group">
                  <div class="col-md-10"><%= f.password_field :password_confirmation, class:"form-control login", placeholder:"英数字6文字以上" %></div>
                </div>

                <div class="text-center">
                  <%= f.submit "会員登録する", class:"btn btn-primary btn-lg" %>
                </div>
               <% end %>

            </div>
      </div>
    </div>
  </div>