<div class="container">
    <div class="row">
    <!-- sidebar  ここから -->
        <div class="col-sm-3">
            <%= render "layouts/adminsidebar" %>
            <div class="side-box">
                <%= render "search" %>
            </div>
        </div>
    <!-- sidebar  ここまで -->


        <div class="col-xs-9">
            <h2><strong>
                <%= @end_user.last_name %>
                <%= @end_user.first_name %>
                </strong> さん
            </h2>
            <div class="box">
                <div class="row form-box">
                    <div class="col-xs-2"><label>姓</label></div>
                    <div class="col-xs-10"><%= @end_user.last_name %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>名</label></div>
                    <div class="col-xs-10"><%= @end_user.first_name %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>カナ（姓）</label></div>
                    <div class="col-xs-10"><%= @end_user.last_kana %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>カナ（名）</label></div>
                    <div class="col-xs-10"><%= @end_user.first_kana %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>パスワード</label></div>
                    <div class="col-xs-10"><%= @end_user.encrypted_password %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>メールアドレス</label></div>
                    <div class="col-xs-10"><%= @end_user.email %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>電話番号</label></div>
                    <div class="col-xs-10"><%= @end_user.phone_number %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>郵便番号</label></div>
                    <div class="col-xs-10"><%= @end_user.postal_code %></div>
                </div>
                <div class="row form-box">
                    <div class="col-xs-2"><label>住所</label></div>
                    <div class="col-xs-10"><%= @end_user.address %></div>
                </div>
                <div class="row form-box">
                    <%= link_to "退会", manage_end_user_path(@end_user), method: :delete , class: "btn btn-primary pull-right", :style=>"width: 10%;", data: { confirm: "本当に退会させますか？"}%>
                </div>
            </div><%# box %>

            <%# 注文履歴 %>
            <div class="box">
                <div class="text-center">
                    <strong><p>注文履歴</p></strong>
                </div>
                <div class="row">
                    <% @orders.each do |order| %>
                    <h4 style="font-weight:bold;color:darkgreen;">購入日：<%= order.purchased_at.strftime("%Y年%m月%d日") %></h4>
                    <table class = "table">
                        <tbody>
                        <%# order_itemをoと表す %>
                            <% order.order_items.each do |o| %>
                            <tr>
                            <%# ジャケ写 %>
                                <td>
                                    <%= attachment_image_tag o.item, :image, :fill, 100, 100, format: 'jpeg' %>
                                </td>
                                <td>
                            <%# アルバム名 リンク付き %>
                                    <span><%= link_to o.item.album, item_path(o.item.id) %></span><br>
                            <%# アーティスト名 %>
                            <%# itemの後のdiscsとsongsがhas_manyで複数あるため１番最初のものを持ってくるように.firstをつける %>
                                    <span><%= o.item.discs.first.songs.first.artist.name %></span><br>
                            <%# 購入数 %>
                                    <span>購入数：<%= o.count %></span>
                                </td>
                                <td>
                            <%# 価格税込 %>
                                    <span>価格 ¥</span>
                                    <span><%= o.price %></span>
                                </td>
                            </tr>
                            <tr><th colspan="2">
                                <span>ステータス：
                                    <% if order.shipping_status == "accepting" %>
                                    受付
                                    <% elsif order.shipping_status == "backordered" %>
                                    入荷待ち
                                    <% else %>
                                    出荷待ち
                                    <% end %>
                                </span>
                            </th>
                            <td>
                                <span>合計金額 ¥<%= order.total_price %></span>
                            </td>
                        </tr>
                        <% end %>
                        <tr>
                            <th colspan="2">発送先名：</th>
                                    <td><%= order.shipping_name %></td></tr>
                            <th colspan="2">郵便番号：</th>
                                    <td><%= order.shipping_postal_code %></td></tr>
                            <th colspan="2">住所：</th>
                                    <td><%= order.shipping_address %></td></tr>
                            <th colspan="2">電話番号：</th>
                                    <td><%= order.shipping_phone_number %></td>
                                </tr>
                        </tbody>
                    </table>
                    <% end %>





                </div>
            </div>


        </div><%# col-xs-9 %>
    </div><!-- row  ここまで -->
</div><!-- container  ここまで -->
