<header class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-4 head-left">
        <div class="login-status">
            <% if end_user_signed_in? %>
            <span class="glyphicon glyphicon-user"></span>
            <%= link_to end_user_path(current_end_user), :style=>"color:lightgreen;" do %><%= current_end_user.last_name %><% end %>さん
            <br>ログイン中
            <% end %>
        </div>
        </div>
        <div class="col-xs-4 col-sm-4 head-center">
            <%= link_to root_path, class: "header-link" do %>
            <h1>Macallan</h1><% end %>
        </div>
        <div class="col-xs-5 col-sm-4 head-right head-menu">
        <%# ハンバーガーメニュー機能 %>

            <div class="menu pull-right" id="menu">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
            </div>
        <%# ログイン機能 %>
            <div class="login-status pull-right">
            <% if admin_signed_in? %>
                管理者ログイン中<br>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            <% else %>
                <% if end_user_signed_in? %>
                    <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %><br>
                    <%= link_to cart_items_path do %>
                        <span class="glyphicon glyphicon-shopping-cart"></span>カート(<span id="cart"><%= current_end_user.cart_items.count%></span>)
                    <% end %>
                <% else %>
                    <%= link_to "ログイン", new_end_user_session_path %><br>
                    <%= link_to "新規登録", new_end_user_registration_path %>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
    <% if admin_signed_in?%>
    <%# adminならヘッダーの検索を非表示に %>
    <% else %>
    <div class="row">
        <div class="col-xs-1 col-sm-4"></div>
        <div class="col-xs-10 col-sm-4 head-center">
        <%# 検索フォーム機能 %>
            <div class="search-box">
            <%= search_form_for @search, url: items_path do |f| %>
            <div class="search-btn">
                <%= f.submit '検索' %>
            </div>
            <div class="search-form">
                <%= f.search_field :album_or_artist_name_or_label_name_or_discs_songs_name_cont_any, placeholder: "CD・アーティスト・曲名で検索" %>
            </div>
            </div>
    <% end %><%# seach_form %>
        </div>
        <div class="col-xs-1 col-sm-4"></div>

    </div>
    <% end %><%# admin_signed_in? %>

</header>

        <%= render "layouts/menubox" %>
