<!DOCTYPE html>
<html>
  <head>
    <title>MACALLAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<div class="wrap">
  <%= render"layouts/header", results: @results %>
  <div id="messages">
  <%= render 'layouts/flash'%>
  </div>
  <%= yield %>
  <%= render partial: "layouts/footer" %>
</div>
<div id="scroll-button"><span></span></div>

  </body>
</html>
